@charset "utf-8";
/* CSS Document */

.greenheader {
	width: 100%;
	line-height: 60px;
	background: #19CB7D;
	height: 65px;
	overflow: hidden;
}

.logo-top a {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	font-family: "Nunito", sans-serif;
	color:#fff;
}
.img-user {
	float:right;
	
}
.img-user img {
	width: 32px;
	height: 32px;
	border-radius: 70px;
	-webkit-border-radius:70px;
}

.add-padding {
	padding:0 80px;
}

.sidebar {
	background:#3B4550;
	position:relative;
	height:100vh;
	padding:20px 50px;
	position:relative;
}

.sidebar h2{
	color: #19CB7D;
	font-size: 1.2em;
	margin:0;
}

.sidebar ul li a{
	
	color:#fff;
	display: block;
	padding:5px 0;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}

.sidebar ul li a:hover{
	border-bottom: 2px solid #19CB7D;
}

.sidebar ul li{
	list-style:none;
	
}
.sidebar ul {
	padding-left:20px;
	margin-top:10px;
}

.no-padding {
	padding:0px;
}

.no-padding .row {
	margin-right:0;
}

.Grey {
	background:#DDDDDD;
	height:100vh;
}

.dashboard ul li {
	width: 31%;
	margin: 0 1% 2%;
	display:inline-block;
	list-style: none;
	background: #fff;
	padding: 10px 25px;
}

.dashboard ul li a {
	text-decoration:none;
	color:#000;
}

.dashboard ul li:hover {
	background: rgba(0, 0, 0, 0.2);
}

.user-activity img {
	width:52px;
	height:52px;
	-webkit-border-radius:50%;
	border-radius:50%;
}

.project h2 {
	font-size: 1.5em;
	font-weight: 500;
}
.project p {
	font-size: 1em;
	margin-bottom: 20px;
}

.dashboard {
	padding:30px 20px;
}

.dashboard ul {
	padding:0px;
}

.project h3{
	font-size: 18px;
	margin-bottom: 0;

}

.right-section {
	padding:30px;
}
.head-project h2 {
	font-weight: 300;
	margin-bottom: 40px;
	font-size:30px;
}
.head-left {
	display: inline-block;
	width: 80%;
}

.title-project {
	color: #19CB7D;
	margin-top: 0;
}

.detail-project {
	color: #999999;
	font-weight: 300;
	font-size: 16px;
}

.head-right {
	margin-top: 5px;
	display:inline-block;
	width: 20%;
}
.head-right h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.2em;
}
.head-right h4 {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 3em;
	font-weight: 300;
}

.centering {
	text-align:center;
}

.btn-primary {
	background:none;
	border:none;
	font-size:60px;
	margin:0;
	padding:5px 10px;
	line-height:50px;
	webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
-moz-transition: -moz-transform 0.2s, opacity 0.2s;
transition: transform 0.2s, opacity 0.2s;
border-radius: 50%;
-webkit-border-radius:50%;
outline:none;
}
.modal-dialog{
	width:400px;
	margin:75px auto;
}
.arrow-tooltip {
	background:url(../img/arrow-top.png) no-repeat;
	width: 32px;
	height: 16px;
	margin: 0 auto;
	top: -16px;
	position: relative;
}
.modal-content{
	background: #fff;
	border: 2px solid #cdcdcd;
	width: 400px;
	margin: 0 auto;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	webkit-box-shadow:none;
	box-shadow:none;
	padding:0px 20px 20px 20px; 
}

.title-container-project {
	margin: 0px;
	font-size: 20px;
	color: #19cb7d;
	float: left;
}

textarea.project-input {
	border: none;
	outline: none;
	width: 100%;
}

.modal-body {
	padding:15px 0;
	margin:20px 0;
}
input[type='text'].input-date {
	font-size: 16px;
	color: #19cb7d;
	border: none;
	outline: none;
	width: 50%;
	display:inline-block;
}

.modal-footer {
	padding:15px 0;
	margin:20px 0 0 0;
}
input[type='text'].input-date::-webkit-input-placeholder {
   color: #19cb7d;
}

input[type='text'].input-date:-moz-placeholder { /* Firefox 18- */
   color:#19cb7d;  
}

input[type='text'].input-date::-moz-placeholder {  /* Firefox 19+ */
   color: #19cb7d;  
}

input[type='text'].input-date:-ms-input-placeholder {  
   color: #19cb7d;  
}

input[type='submit'].create-button {
	background: #16ca7b;
	text-align: center;
	width: 100%;
	border: none;
	padding: 10px;
	font-size: 20px;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 15px;
}

.btn-primary:hover{
	background: #16B670;
	-webkit-transform: scale(1.8);
	-moz-transform: scale(1.8);
	transform: scale(1.8);
	-ms-transform: scale(1.8);
	outline:none;
}

.btn-primary:focus {
	background: #16B670;
	outline:none!important;
	border-color:transparent!important;
}

#minute {
	text-align:center;
	color: #fff;
	font-size: 4em;
}

.wraper_minute {
	width:100%;
	position:absolute;
	left:0;
	padding:10px;
	background-color: #FF4E62;
	min-height: 50px;
}

.stopwatch {
	margin-bottom:100px;
}

button.button_start {
	background: none;
	box-shadow: none;
	border: none;
	font-size:30px;
	color:#fff;
	margin:0 5px;
	position: relative;
	top: -3px;
	left:5px;
	outline:none;
}
button.button_stop {
	background: none;
	box-shadow: none;
	border: none;
	font-size:30px;
	color:#fff;
	margin:0 5px;
	outline:none;
}

button.button_stop:focus, button.button_start:focus{
	color:#19CB7D;
}


button.repeat_button{
	background:url(../img/repeat.png) no-repeat center;
	box-shadow: none;
	border: none;
	width:30px;
	background-size:cover;
	height:30px;
	margin:0 0px;
	outline:none;
}


.inner_wraper_timer {
	margin:0 auto;
	text-align:center;
	display:block;
}